{% extends 'base.html' %}
{% load static %}


{% block title %}Events website{% endblock %}

{% block content %}
{% include 'events/header.html' %}
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="property-title-text">
                
                <h2 class="text-uppercase">Your Ticket to Paradise: Don't Miss Out on Our <span class="fw-bolder" style="color:red">Epic Events!</span></h2>
                <p class="fw-light">Experience the thrill of discovery, the joy of connection, and the wonder of shared experiences at our extraordinary events</p>
                <button class="btn btn-lg fw-light" style="color:#FB7E0A; background:#1c1c1c">Explore events</button>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="property-title-image ms-1">
                <img src="{% static 'events/images/eventPicture.png' %}" alt="Landing Image" class="img-fluid" style="max-width: 600px;">
            </div>
        </div>
    </div>
</div>


<div>
    <h3 class="mt-5">Upcoming Events</h3>
</div>
      

{% endblock %}